---
/**
 * Neceito porner el prerender porque aun no ha salido ASTRO 5 por ende, en las páginas dinámicas necesitas esto
 */
export const prerender = true;

import { getCollection, render, type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

import MainLayout from "@layouts/MainLayout.astro";
import BiasSEO from "@SEO/contents/BiasSEO.astro";


interface Props {
  entry: CollectionEntry<"bias">;
}

export async function getStaticPaths() {
  const biases = await getCollection("bias");

  return biases.map((entry) => ({
    params: { id: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { data, slug } = entry;
const { name, cover, publishDate, lastTimeEdited } = data;

const { Content } = await render(entry);

---

<MainLayout>
  <BiasSEO slot="head" entry={entry} />
  <section class="flex flex-col justify-center items-center">
    <div class="w-3/4 pb-6">
      <Image
        src={cover.src}
        width={cover.src.width}
        height={cover.src.height}
        alt={cover.alt}
        transition:name=`${slug}-image`
        class="for-covers"
      />
    </div>
    <article class="prose prose-invert mx-auto">
      <div class="flex items-center justify-between">
        {
          lastTimeEdited && lastTimeEdited !== publishDate
            ? (
              <p class="text-xs">Publicado: {publishDate}</p>
              <p class="text-xs">Editado: {lastTimeEdited}</p>
            )
            : (
              <p class="text-xs">Publicado: {publishDate}</p>
            )
        }
      </div>
      <h1 class="text-center">
        {name}
      </h1>
      <Content />
    </article>
  </section>
</MainLayout>
