---
import { Image } from "astro:assets";

interface QuoteCardProps {
  text: string;
  author: string;
  image: string;
  link: string;
}

const { text, author, image, link } = Astro.props as QuoteCardProps;
---

<section
  class="border-t-2 border-b-2 pr-2 rounded-tl-3xl rounded-br-3xl bg-transparent flex items-start xs:mx-6 mx-0"
>
  <div
    class="bg-gray-500 flex-shrink-0 w-16 h-16 rounded-full flex items-center justify-center m-2"
  >
    <Image
      width={64}
      height={64}
      src={image}
      alt={`${author}'s photo`}
      class="w-14 h-w-14 rounded-full object-cover"
    />
  </div>

  <div>
    <p class="text-sm">{text}</p>
    <p class="mt-2 text-sm font-semibold">
      <a
        href={link}
        target="_blank"
        referrerpolicy="strict-origin"
        rel="noopener noreferrer"
        class="text-mr-primary-green no-underline hover:underline flex items-center gap-1"
      >
        {author}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 24 24"
          ><g fill="none"
            ><path
              d="M24 0v24H0V0zM12.594 23.258l-.012.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.105.074l.014.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.016-.018m.264-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.008l.201.092q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.092l.01-.009l.004-.011l.017-.43l-.003-.012l-.01-.01z"
            ></path><path
              fill="currentColor"
              d="M18 5a1 1 0 0 1 1 1v8a1 1 0 1 1-2 0V8.414l-9.95 9.95a1 1 0 0 1-1.414-1.414L15.586 7H10a1 1 0 1 1 0-2z"
            ></path></g
          ></svg
        >
      </a>
    </p>
  </div>
</section>
