---
interface Props {
  width: string;
  height: string;
  customColor?: string;
  shouldGo: string;
}

const {
  width = "1rem",
  height = "1rem",
  customColor = "text-mr-text-headers",
  shouldGo = "/",
} = Astro.props;

const isRem = (value: string) => /^\d+(\.\d+)?rem$/.test(value);

if (!isRem(width) || !isRem(height)) {
  throw new Error(
    "Invalid dimensions: Width and Height must be in 'rem' units."
  );
}

if (!shouldGo.startsWith("/")) {
  throw new Error(
    `Invalid href: "${shouldGo}". The href must start with a "/".`
  );
}
---

<a href={shouldGo} class="flex w-fit h-fit">
  <svg
    width={width}
    height={height}
    class={customColor}
    viewBox="0 0 150 150"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M45.9204 123.084C41.5297 127.475 42.2446 134.831 47.9257 137.337C56.2891 141.027 65.5389 143.076 75.2673 143.076C112.716 143.076 143.074 112.718 143.074 75.2692C143.074 65.5413 141.025 56.2918 137.336 47.9287C134.829 42.247 127.472 41.5321 123.081 45.9231V45.9231C119.943 49.0611 119.388 53.876 120.956 58.0277C122.98 63.3891 124.088 69.2004 124.088 75.2705C124.088 102.233 102.23 124.091 75.2673 124.091C69.1969 124.091 63.3853 122.983 58.0237 120.959C53.8725 119.391 49.058 119.946 45.9204 123.084V123.084ZM103.598 27.0496C100.505 30.1424 95.7793 30.7383 91.6592 29.27C86.5358 27.4442 81.0176 26.45 75.2673 26.45C48.3044 26.45 26.4467 48.3077 26.4467 75.2705C26.4467 81.0211 27.441 86.5395 29.267 91.6632C30.7351 95.7828 30.1394 100.508 27.0469 103.601V103.601C22.5982 108.049 15.1363 107.263 12.7043 101.46C9.32692 93.4021 7.46094 84.5536 7.46094 75.2692C7.46094 37.8208 37.8189 7.46289 75.2673 7.46289C84.5512 7.46289 93.3993 9.32871 101.457 12.7058C107.26 15.1379 108.047 22.6005 103.598 27.0496V27.0496Z"
      fill="currentColor"></path>
    <rect
      y="135.615"
      width="191.79"
      height="20.3419"
      rx="10.1709"
      transform="rotate(-45 0 135.615)"
      fill="currentColor"></rect>
  </svg>
</a>
