---
/**
 * !Este elemento va dentro de cada una de las rutas dinámicas y no de los index de las páginas generales
 */

import { type CollectionEntry } from "astro:content";

import { SITE_DEFAULT_CONFIG } from "@/global/siteInfo";
import { convertDateToISO8601 } from "@utils/validatingDate";

interface Props {
  entry: CollectionEntry<"bias">;
}

const { entry } = Astro.props;
const bias = entry as CollectionEntry<"bias">;
const { data, slug } = bias;
const {
  biasImage,
  biasName,
  description,
  keywords,
  publishDate,
  lastTimeEdited,
} = data;

const biasTitle =
  biasName || `Sesgos y heurísticas - ${SITE_DEFAULT_CONFIG.title}`;
const biasDescription =
  description || `Sesgos y heurísticas - ${SITE_DEFAULT_CONFIG.description}`;

// const allImagePath = `${SITE_DEFAULT_CONFIG.url}${biasImage.src}`;

const ogImage = new URL("./og-image.png", Astro.site);
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

// const all = `${Astro.site} + ${Astro.url.pathname}`;
// console.log(
//   { pathname: Astro.url.pathname },
//   { canocinalURLHREF: canonicalURL },
//   { all: all },
//   { site: Astro.site },
// );

const imageSrc = biasImage.src.startsWith("http")
  ? biasImage.src
  : `${SITE_DEFAULT_CONFIG.url}${biasImage.src}`;

const justInCaseNoImageSrc = imageSrc || ogImage;
const justInCaseNoImageAlt = biasImage.alt || biasName;

// Validación de fechas. lastTimeEdited puede ser undefined en la collection pero en la práctica no pero para evitar el error hago la validación
const publisDateInISO = convertDateToISO8601(publishDate);
const lastTimeEditedInISO = convertDateToISO8601(
  !lastTimeEdited ? publishDate : lastTimeEdited,
);
---

{/* OBLIGATORIOS DEL SITIO */}
<title>{`${biasTitle} - ${SITE_DEFAULT_CONFIG.title}`}</title>
<meta name="title" content={`${biasTitle} | ${SITE_DEFAULT_CONFIG.title}`} />
<meta name="description" content={biasDescription} />
<link rel="canonical" href={SITE_DEFAULT_CONFIG.url} />

{/* OPEN GRAPH - Facebook , LinkedIn */}
<meta property="og:type" content="article" />
<meta property="og:site_name" content="mrjark" />
<meta property="og:title" content={biasTitle} />
<meta property="og:description" content={biasDescription} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:locale" content={SITE_DEFAULT_CONFIG.location} />

<meta property="og:image" content={justInCaseNoImageSrc} />
<meta property="og:image:alt" content={justInCaseNoImageAlt} />

{
  keywords &&
    keywords.map((keyword: string) => {
      return <meta property="article:tag" content={keyword} />;
    })
}

{/*META ESPECÍFICO DEL POST*/}
<meta property="article:published_time" content={publisDateInISO} />
<meta property="article:modified_time" content={lastTimeEditedInISO} />

{/* TWITTER/X */}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={biasTitle} />
<meta name="twitter:description" content={biasDescription} />
<meta name="twitter:image" content={justInCaseNoImageSrc} />
<meta name="twitter:image:alt" content={justInCaseNoImageAlt} />
