---
/**
 * !Este elemento va dentro de cada una de las rutas dinámicas y no de los index de las páginas generales
 */

import { type CollectionEntry } from "astro:content";

import { SITE_DEFAULT_CONFIG } from "@/global/siteInfo";
import { convertDateToISO8601 } from "@utils/validatingDate";

interface Props {
  entry: CollectionEntry<"bias">;
}

const { entry } = Astro.props;
const bias = entry as CollectionEntry<"bias">;
const { data, slug } = bias;
const {
  biasImage,
  biasName,
  description,
  keywords,
  publishDate,
  lastTimeEdited,
} = data;

const biasTitle = bias.data.biasName || SITE_DEFAULT_CONFIG.title;
const biasDescription = description || SITE_DEFAULT_CONFIG.description;
const ogImage = new URL(
  "/og-image.png",
  `${SITE_DEFAULT_CONFIG.url}/og-image.png`,
);

const siteBiasURL = `${SITE_DEFAULT_CONFIG.url}/essay/bias/${slug}`;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

{
  /*a futuro cambiarlo 👇🏽 por cloudinary o si hago rutas de archivos dentro de los blogs*/
}
const justInCaseNoImageSrc = biasImage.src || ogImage;
const justInCaseNoImageAlt = biasImage.alt || biasName;

const publisDateInISO = convertDateToISO8601(publishDate);
// el lastTimeEdited siempre va a venir porque le estoy diciendo que si no viene, sea el publishDate pero para no obligarlo desde el config de la collection lo hago así
const lastTimeEditedInISO = convertDateToISO8601(
  !lastTimeEdited ? publishDate : lastTimeEdited,
);
---

{/* OBLIGATORIOS DEL SITIO */}
<title>{`${biasTitle} - ${SITE_DEFAULT_CONFIG.title}`}</title>
<meta name="title" content={`${biasTitle} | ${SITE_DEFAULT_CONFIG.title}`} />
<meta name="description" content={biasDescription} />
<link rel="canonical" href={canonicalURL} />

{/*OPEN GRAPH METATAGS*/}
<meta property="og:title" content={biasTitle} />
<meta property="og:description" content={biasDescription} />
<meta property="og:url" content={siteBiasURL} />
<meta property="og:type" content="article" />
{
  /*LAS IMÁGENES LAS SACARÉ DEPENDIENDO DEL PATH RELATIVO DEL BIAS TODO: (O CLOUDINARY A FUTURO)*/
}
<meta property="og:image" content={justInCaseNoImageSrc} />
<meta property="og:image:alt" content={justInCaseNoImageAlt} />
<meta property="og:locale" content={SITE_DEFAULT_CONFIG.location} />
<meta property="og:site_name" content="mrjark" />

{/*META ESPECÍFICO DEL POST*/}
<meta property="article:published_time" content={publisDateInISO} />
<meta property="article:modified_time" content={lastTimeEditedInISO} />

{/*OG TWITTER/X - LINKEDIN - FACERBOOK*/}
<meta name="twitter:title" content={biasTitle} />
<meta name="twitter:description" content={biasDescription} />
<meta property="twitter:image" content={justInCaseNoImageSrc} />
<meta name="twitter:image:alt" content={justInCaseNoImageAlt} />
<meta name="twitter:card" content="summary_large_image" />

{
  keywords &&
    keywords.map((keyword: string) => {
      return <meta property="article:tag" content={keyword} />;
    })
}
