<!-- ---
/** !NO ME FUNCIONA DE ESTA FORMA */

// ESTA ES UNA COPIA DEL BasaHead del proyecto de Astro -> https://astro-theme-resume.vercel.app/

// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import { SITE_DEFAULT_CONFIG } from "@/global/siteInfo";
import "../../../styles/global.css";
import type { SiteMeta } from "@interfaces/interfaces.otros";

type Props = SiteMeta;

const { publishDate, description, ogImage, title } = Astro.props;

const titleSeparator = "•";
const siteTitle = `${title} ${titleSeparator} ${SITE_DEFAULT_CONFIG.title}`;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialImageURL = new URL(ogImage ? ogImage : "/og-image.png", Astro.url)
  .href;
---

<meta charset="utf-8" /><meta
  content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
  name="viewport"
/><meta content="IE=edge" http-equiv="X-UA-Compatible" /><title>
  {siteTitle}
</title>
{/* Icons / Favicon */}
<link
  rel="apple-touch-icon-precomposed"
  sizes="180x180"
  href="/apple-touch-icon.png"
/>
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />

{/* Font preloads */}
<link
  rel="preload"
  href="/fonts/MuseoModerno-Medium.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  href="/fonts/rubik-regular-webfont.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>

{/* Canonical URL */}
<link rel="canonical" href={canonicalURL} />

{/* Primary Meta Tags */}
<meta content={siteTitle} name="title" />
<meta content={SITE_DEFAULT_CONFIG.author} name="author" />
<meta content={description} name="description" />

{/* Theme Colour */}
<meta content="" name="theme-color" />

{/* Open Graph / Facebook */}

<meta content={title} property="og:title" />
<meta content={description} property="og:description" />
<meta content={publishDate ? "article" : "website"} property="og:type" />
<meta content={canonicalURL} property="og:url" />
<meta content={SITE_DEFAULT_CONFIG.title} property="og:site_name" />
<meta content={SITE_DEFAULT_CONFIG.location} property="og:locale" />
<meta content={socialImageURL} property="og:image" />
<meta content="1200" property="og:image:width" />
<meta content="630" property="og:image:height" />
{
  publishDate && (
    <>
      <meta content={SITE_DEFAULT_CONFIG.author} property="article:author" />
      <meta content={publishDate} property="article:published_time" />
    </>
  )
}

{/* Twitter */}

<meta content="summary_large_image" property="twitter:card" />

<meta content={canonicalURL} property="twitter:url" />
<meta content={title} property="twitter:title" />
<meta content={description} property="twitter:description" />
<meta content={socialImageURL} property="twitter:image" />


{/* Sitemap */}
<link href="/sitemap-index.xml" rel="sitemap" /> -->{
  /* RSS auto-discovery */
}
<!-- <link
  href="/rss.xml"
  rel="alternate"
  title={SITE_DEFAULT_CONFIG.title}
  type="application/rss+xml"
/> -->

<!-- <meta content={Astro.generator} name="generator" /> -->
