---
/**
 * Neceito porner el prerender porque aun no ha salido ASTRO 5 por ende, en las páginas dinámicas necesitas esto
 */
export const prerender = true;

import { getCollection, render, type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

import MainLayout from "@layouts/MainLayout.astro";
import BiasSEO from "@SEO/contents/BiasSEO.astro";
import GoBackInTop from "@/components/pages/shared/GoBackInTop.astro";
import ScrollGoBackBtn from "@/components/pages/shared/ScrollGoBackBtn";
import BiasCategory from "@/components/pages/bias/BiasCategory.astro";


interface Props {
  entry: CollectionEntry<"bias">;
}

export async function getStaticPaths() {
  const biases = await getCollection("bias");

  return biases.map((entry) => ({
    params: { id: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { data, id } = entry;
const { name, cover, publishDate, lastTimeEdited, biasQuestion, category } = data;

const { Content } = await render(entry);

---

<MainLayout>
  <BiasSEO slot="head" entry={entry} />
  <section class="mx-auto">
    <GoBackInTop headPage="/psychology/bias"/>
    <ScrollGoBackBtn headPage="/psychology/bias" client:only="react" />
    <article class="flex flex-col justify-center items-center">
      <section class="text-center mb-10">
        <h1 transition:name=`${id}-name` class="text-base text-center mb-2 underline">
          {name}
        </h1>
        <span class="xs:text-2xl text-xl font-museo_moderno text-mr-text-headers tracking-wider">{biasQuestion}</span>
        <section class="flex flex-col justify-center items-center text-center mt-8 gap-y-2">
          {
            category.length > 1
              ? <p>Categorías del sesgo:</p>
              : <p>Categoría del sesgo:</p>
          }
          <BiasCategory category={category} />
        </section>
        <section class="flex items-center justify-between text-mr-text-relax my-4">
          {
            lastTimeEdited && lastTimeEdited !== publishDate
              ? (
                <span class="text-xs">Publicado: {publishDate}</span>
                <span class="text-xs">Editado: {lastTimeEdited}</span>
              )
              : (
                <span class="text-xs">Publicado: {publishDate}</span>
              )
          }
        </section>
      </section>
      <!-- <div class="w-3/4 pb-6">
        <Image
          src={cover.src}
          width={cover.src.width}
          height={cover.src.height}
          alt={cover.alt}
          transition:name=`${id}-image`
          class="for-covers"
          quality="low"
          loading="lazy"
        />
      </div> -->
      <div class="prose prose-invert mx-auto">
        <Content />
      </div>
    </article>
  </section>
</MainLayout>
