---
/**
 * Neceito porner el prerender porque aun no ha salido ASTRO 5 por ende, en las páginas dinámicas necesitas esto
 */
export const prerender = true;

import { getCollection, render, type CollectionEntry } from "astro:content";

import MainLayout from "@layouts/MainLayout.astro";
import BiasSEO from "@SEO/contents/BiasSEO.astro";
import GoBackInTop from "@/components/pages/shared/GoBackInTop.astro";
import ScrollGoBackBtn from "@/components/pages/shared/ScrollGoBackBtn";
import BiasCategory from "@/components/pages/bias/BiasCategory.astro";
import TableOfContents from "@test/TableOfContent";


interface Props {
  entry: CollectionEntry<"bias">;
}

export async function getStaticPaths() {
  const biases = await getCollection("bias");

  return biases.map((entry) => ({
    params: { id: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { data, id } = entry;
const { name, publishDate, lastTimeEdited, biasQuestion, category } = data;

const { Content, headings } = await render(entry);

---

<MainLayout>
  <BiasSEO slot="head" entry={entry} />
  <section class="mx-auto">
    <GoBackInTop headPage="/psychology/bias"/>
    <ScrollGoBackBtn headPage="/psychology/bias" client:only="react" />
    <article class="flex flex-col justify-center items-center">
      <section class="text-center">
        <h1 transition:name=`${id}-name` class="text-base text-center mb-2 underline">
          {name}
        </h1>
        <span class="xs:text-2xl text-xl font-museo_moderno text-mr-text-headers tracking-wider">{biasQuestion}</span>
        <section class="flex flex-col justify-center items-center text-center mt-8 gap-y-2">
          {
            category.length > 1
              ? <p>Categorías del sesgo:</p>
              : <p>Categoría del sesgo:</p>
          }
          <BiasCategory category={category} />
        </section>
        <section class="flex items-center justify-between text-mr-text-relax my-4">
          {
            lastTimeEdited && lastTimeEdited !== publishDate
              ? (
                <span class="text-xs">Publicado: {publishDate}</span>
                <span class="text-xs">Editado: {lastTimeEdited}</span>
              )
              : (
                <span class="text-xs">Publicado: {publishDate}</span>
              )
          }
        </section>
      </section>
      <section class="flex flex-col justify-start items-start text-left w-full max-w-2xl mb-6">
        <TableOfContents headings={headings} client:only="react" />
      </section>
      <div class="prose prose-invert mx-auto">
        <Content />
      </div>
    </article>
  </section>
</MainLayout>

<style is:global>
  .btn-toggle-toc {
    background-color: #007acc;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    margin-bottom: 1rem;
  }

  .toc-container {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    border: 1px solid #ccc;
    padding: 1rem;
    z-index: 1000; /* Ensure it is above other content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: 80vh;
  }
</style>