---
/**
 * Neceito porner el prerender porque aun no ha salido ASTRO 5 por ende, en las páginas dinámicas necesitas esto
 */
export const prerender = true;

import { getCollection, render, type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

import MainLayout from "@layouts/MainLayout.astro";
import BiasSEO from "@SEO/contents/BiasSEO.astro";
import GoBackInTop from "@/components/pages/shared/GoBackInTop.astro";
import ScrollGoBackBtn from "@/components/pages/shared/ScrollGoBackBtn";


interface Props {
  entry: CollectionEntry<"bias">;
}

export async function getStaticPaths() {
  const biases = await getCollection("bias");

  return biases.map((entry) => ({
    params: { id: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { data, id } = entry;
const { name, cover, publishDate, lastTimeEdited } = data;

const { Content } = await render(entry);

---

<MainLayout>
  <BiasSEO slot="head" entry={entry} />
  <section class="mx-auto">
    <GoBackInTop headPage="/psychology/bias"/>
    <ScrollGoBackBtn headPage="/psychology/bias" client:load />
    <article class="flex flex-col justify-center items-center">
      <div class="w-3/4 pb-6">
        <Image
          src={cover.src}
          width={cover.src.width}
          height={cover.src.height}
          alt={cover.alt}
          transition:name=`${id}-image`
          class="for-covers"
          quality="low"
          loading="lazy"
        />
      </div>
      <div class="prose prose-invert mx-auto">
        <div class="flex items-center justify-between">
          {
            lastTimeEdited && lastTimeEdited !== publishDate
              ? (
                <span class="text-xs">Publicado: {publishDate}</span>
                <span class="text-xs">Editado: {lastTimeEdited}</span>
              )
              : (
                <span class="text-xs">Publicado: {publishDate}</span>
              )
          }
        </div>
        <h1 transition:name=`${id}-name` class="text-center mt-6">
          {name}
        </h1>
        <Content />
      </div>
    </article>
  </section>
</MainLayout>
