---
import { getCollection, type CollectionEntry } from "astro:content";

import BookScore from "./BookScore.astro";
import BookCover from "./BookCover.astro";

interface Props {
  entry: CollectionEntry<"bookNotes">;
}

export async function getStaticPaths() {
  const bookNotes = await getCollection("bookNotes");

  return bookNotes.map((entry) => ({
    params: { id: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { data, slug } = entry;
const { score, quote, title } = data;
---

<section class="pb-10 flex flex-col justify-center items-center mx-auto">
  <div class="flex flex-row w-full sm:px-10 mx-auto">
    <a href=`/book-notes/${slug}`>
      <BookCover
        customClasses="md:max-w-36"
        entry={entry}
        transition:name={`${slug}-bookCover`}
      />
    </a>
    <section class="flex flex-col items-start ml-5 gap-y-2">
      <h2>
        <a href=`/book-notes/${slug}` transition:name={`${slug}-${title}`}
          >{title}</a
        >
      </h2>
      <BookScore transition:name={`${slug}-bookScore-${score}`} entry={entry} />
      <p>
        {quote}
      </p>
    </section>
  </div>
</section>
