---
import { getCollection, type CollectionEntry } from "astro:content";

import BookScore from "./BookScore.astro";
import BookCover from "./BookCover.astro";

interface Props {
  entry: CollectionEntry<"bookNotes">;
}

export async function getStaticPaths() {
  const bookNotes = await getCollection("bookNotes");

  return bookNotes.map((entry) => ({
    params: { id: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { data, id } = entry;
const { quote, title, readingTime } = data;
---

<section class="pb-10 flex flex-col justify-center items-center mx-auto">
  <div class="flex flex-row w-full sm:px-10 mx-auto">
    <a
      href=`/book-notes/${id}`
      class="min-w-28 xs:min-w-36 mx-auto h-fit w-fit rounded"
    >
      <BookCover
        customClasses="md:max-w-36"
        entry={entry}
        transition:name={`${id}-bookCover`}
      />
    </a>
    <section class="flex flex-col items-start ml-5 gap-y-2">
      <h2>
        <a href=`/book-notes/${id}`>{title}</a>
      </h2>
      <BookScore entry={entry} />
      <div class="flex flex-col gap-y-2 text-xs text-mr-text-relax">
        <span>Léelo en {readingTime}min</span>
      </div>
      <p>
        "{quote}"
      </p>
    </section>
  </div>
</section>
