---
import PageSEO from "@/components/SEO/PageSEO.astro";
import { SITE_DEFAULT_CONFIG } from "@/global/siteInfo";
import MainLayout from "@layouts/MainLayout.astro";
import { getCollection } from "astro:content";

// interface Props {
//   entry: CollectionEntry<"essay">;
// }

const essays = await getCollection("essay");

const meta = {
  description: "Essays",
  title: "Essays",
};
---

<MainLayout meta={meta}>
  <!-- <PageSEO
    slot="head"
    title=`Ensayos - ${SITE_DEFAULT_CONFIG.title}`
    description="Un cunjunto de ensayos que voy recopilando en mi carrera como Growth en Startups y mi afan por conocer la psicologia del comportamiento"
  /> -->
  <h1>Work in progress</h1>
  <a class="text-sm text-green-500" href="/essay/bias">Go to bias</a>
  <section class="flex justify-between items-center mt-6 gap-x-4">
    {
      essays.map((essay) => {
        const { data, slug } = essay;
        const { title, description } = data;

        return (
          <article class="">
            <div>
              <h1>{title}</h1>
              <p class="mb-2">{description}</p>
            </div>
            <a
              class="text-sm underline hover:text-mr-primary-green hover:no-underline"
              href={`/essay/${slug}`}
            >
              Ir al post
            </a>
          </article>
        );
      })
    }
  </section>
</MainLayout>
