---
/**
 * Neceito porner el prerender porque aun no ha salido ASTRO 5 por ende, en las páginas dinámicas necesitas esto
 */
export const prerender = true;

import BiasImage from "@blog/bias/BiasImage.astro";
import MainLayout from "@layouts/MainLayout.astro";

import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const biases = await getCollection("bias");

  return biases.map((bias) => ({
    params: { id: bias.slug },
    props: { bias },
  }));
}

const { bias } = Astro.props;
const { data, slug } = bias;
const { biasName, biasImage } = data;

const { Content } = await render(bias);
---

<MainLayout title=`${biasName} - mrjark`>
  <section class="">
    <div class="w-2/3 mx-auto mb-2">
      <BiasImage
        width={1020}
        height={510}
        src={biasImage.src}
        alt={biasImage.alt}
        moreClasses=" aspect-video rounded-md object-cover"
      />
    </div>
    <article class="prose prose-invert">
      <h1 transition:name=`title-${slug}` class="text-center">
        {biasName}
      </h1>
      <Content />
    </article>
  </section>
</MainLayout>
