---
import BiasCard from "@blog/biases/BiasCardCopy.astro";
import MainLayout from "@layouts/MainLayout.astro";
import { getCollection } from "astro:content";

// const biases = await Astro.glob("../../../content/biases/*.md");
const biases = await getCollection("biases");
---

<MainLayout
  title="Lista de sesgos cognitivos"
  subTitle="Una lista donde se muestras los distintos sesgos cognitivos que existen con sus explicaciones, algunos ejemplos y formas en las que los puedes aplicar"
>
  <h1 class="text-xl mb-8">Biases page in porgress</h1>
  <section
    class="grid grid-cols-2 gap-x-2 gap-y-6 sm:gap-x-4 sm:gap-y-8 place-content-around sm:grid-cols-3"
  >
    {
      biases.map((bias) => {
        const { data, slug } = bias;
        const {
          biasImage,
          description,
          biasName,
          createdDate,
          keywords,
          tags,
        } = data;
        return (
          <BiasCard
            language="es"
            keywords={keywords}
            tags={tags}
            createdDate={createdDate}
            biasName={biasName}
            description={description}
            biasImage={biasImage.src}
            slug={slug}
          />
        );
      })
    }
    <!-- <BiasCard />
    <BiasCard />
    <BiasCard /> -->
  </section>
</MainLayout>
