---
/**
 * Neceito porner el prerender porque aun no ha salido ASTRO 5 por ende, en las páginas dinámicas necesitas esto
 */
export const prerender = true;

import type { CollectionEntry } from "astro:content";

import { getCollection, render } from "astro:content";

import GoBackInTop from "@/components/pages/shared/GoBackInTop.astro";
import ScrollGoBackBtn from "@/components/pages/shared/ScrollGoBackBtn";

import BookScore from "@/components/pages/books/BookScore.astro";
import BookCover from "@/components/pages/books/BookCover.astro";
import MainLayout from "@layouts/MainLayout.astro";
import BookNoteSEO from "@SEO/contents/BookNoteSEO.astro";

interface Props {
  entry: CollectionEntry<"bookNotes">;
}

export async function getStaticPaths() {
  const bookNotes = await getCollection("bookNotes");

  return bookNotes.map((entry) => ({
    params: { id: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { data, id } = entry;

const { title, score, authors, readingTime, publishDate } = data;
const authorsInArry = Array.isArray(authors) ? authors : [authors];

const { Content } = await render(entry);
---

<MainLayout>
  <BookNoteSEO slot="head" entry={entry} />
  <article class="mx-auto">
    <GoBackInTop headPage="/book-notes" />
    <ScrollGoBackBtn headPage="/book-notes" client:only="react" />

    <section class="grid grid-cols-2 max-w-lg mx-auto">
      <BookCover entry={entry} />

      <section class="flex flex-col items-start prose prose-invert">
        <h1 transition:name={`${id}-${title}`} class="text-start mb-4">
          {title}
        </h1>
        <div class="flex flex-col -mt-1 mb-4">
          <!-- TODO: HACER EL AUTHORS EN UN COMPONENTE A PARTE Y QUE DEPENDIENDO DE SI ES UNO U DOS, QUE SE MUESTRE UNA COSA U OTRA -->
          {
            authorsInArry.map((author) => (
              <a
                class=" no-underline text-sm hover:underline"
                target="_blank"
                href={author.link}
              >
                de {author.name}
              </a>
            ))
          }
        </div>
        <BookScore
          entry={entry}
          width="w-5 xs:w-7"
          height="w-5 xs:h-7"
          transition:name={`${id}-bookScore-${score}`}
        />
        <div class="flex flex-col mt-4 gap-y-2 text-xs text-mr-text-relax">
          <span>Léelo en: {readingTime}min</span>
          <span>Leido el: {publishDate}</span>
        </div>
      </section>
    </section>
    <section class="prose prose-invert mt-6">
      <!-- TODO: REHACER LOS HEADINGS CON UN TOGGLE QUE SE ABRA Y CIERRE -->
      <!-- <div>
        <p class="text-lg -mb-3">Tabla de contenidos</p>
        <ul class="list-none pl-0">
          {
            headings.map((heading, index) => (
              <li class=" leading-3 ">
                <a
                  class="no-underline text-center text-gray-300 text-xs"
                  href={`#${heading}`}
                >
                  {index + 1} - {heading.text}
                </a>
              </li>
            ))
          }
        </ul>
      </div> -->
      <Content />
    </section>
  </article>
</MainLayout>
