---
/**
 * Neceito porner el prerender porque aun no ha salido ASTRO 5 por ende, en las páginas dinámicas necesitas esto
 */
export const prerender = true;

import type { CollectionEntry } from "astro:content";
import { getCollection, render } from "astro:content";

import BookScore from "@/components/pages/books/BookScore.astro";
import BookCover from "@/components/pages/books/BookCover.astro";
import MainLayout from "@layouts/MainLayout.astro";
import BookNoteSEO from "@SEO/contents/BookNoteSEO.astro";
import GoBack from "@/components/pages/shared/GoBack";

interface Props {
  entry: CollectionEntry<"bookNotes">;
}

export async function getStaticPaths() {
  const bookNotes = await getCollection("bookNotes");

  return bookNotes.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { data, slug } = entry;

const { title, score } = data;

const { Content, headings } = await render(entry);
---

<MainLayout>
  <BookNoteSEO slot="head" entry={entry} />
  <article class="mx-auto">
    <GoBack client:idle />
    <section class="grid grid-cols-2 max-w-lg mx-auto">
      <BookCover entry={entry} />

      <div class="flex flex-col items-start prose prose-inert">
        <h1 transition:name={`${slug}-${title}`} class="text-start mb-4">
          {title}
        </h1>
        <BookScore
          entry={entry}
          width="w-5 xs:w-7"
          height="w-5 xs:h-7"
          transition:name={`${slug}-bookScore-${score}`}
        />
      </div>
    </section>
    <section class="prose prose-invert mt-6">
      <div>
        <p class="text-lg -mb-3">Tabla de contenidos</p>
        <ul class="list-none pl-0">
          {
            headings.map((heading, index) => (
              <li class=" leading-3 ">
                <a
                  class="no-underline text-center text-gray-300 text-xs"
                  href={`#${heading.slug}`}
                >
                  {index + 1} - {heading.text}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <Content />
    </section>
  </article>
</MainLayout>
