---
import "../styles/global.css";

import { SITE_404_CONFIG } from "@/global/siteInfo";

import Head from "@shared/Head.astro";
import Header from "@shared/header/Header.astro";
import Footer from "@shared/Footer.astro";

const { errorTitle, errorDescription, author, lang, url } = SITE_404_CONFIG;
---

<!doctype html>
<html lang={lang}>
	<Head
		title={errorTitle}
		description={errorDescription}
		canonicalURL={url}
		author={author}
	/>
	<body class="mx-auto p-5 px-3 max-w-3xl">
		<Header />
		<main class="my-10 overflow-x-hidden">
			<slot />
		</main>
		<Footer />
	</body>
</html>
