---
/*inspiración -> https://www.creative-tim.com/twcomponents/component/tailwind-css-cards*/
import { getCollection, type CollectionEntry } from "astro:content";

// import { type BiasType } from "./icons/biasIcons.types";

import BiasCategory from "./BiasCategory.astro";
// import BiasIcons from "./BiasIcons.astro";

interface Props {
  entry: CollectionEntry<"bias">;
}

export async function getStaticPaths() {
  const biases = await getCollection("bias");
  // const {} = biases;

  return biases.map((entry) => ({
    params: { id: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { data, id } = entry;
const { biasQuestion, biasName, category } = data;
---

<article
  class="group flex rounded-xl h-full w-full border-2 bg-clip-border border-mr-text-relax transition-colors duration-300 hover:border-mr-bias-500"
>
  <a
    href={`/behavior/sesgos/${id}`}
    class="flex flex-col justify-between h-full w-full p-3"
  >
    <article class="flex flex-col justify-between">
      <div class="flex items-center justify-start gap-2">
        <!-- <BiasIcons /> -->
        <h2
          class="line-clamp-2 text-ellipsis overflow-hidden flex-wrap"
          transition:name={`${id}-name`}
        >
          {biasName}
        </h2>
      </div>
      <div class="flex flex-col justify-between gap-2 mt-1">
        <p class="line-clamp-3 leading-snug">
          {biasQuestion}
        </p>
        <BiasCategory category={category} />
      </div>
    </article>
  </a>
</article>
