---
/*inspiración -> https://www.creative-tim.com/twcomponents/component/tailwind-css-cards*/
import { getCollection, render, type CollectionEntry } from "astro:content";
import BiasImage from "./BiasImage.astro";

interface Props {
  entry: CollectionEntry<"bias">;
}

export async function getStaticPaths() {
  const biases = await getCollection("bias");

  return biases.map((entry) => ({
    params: { id: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { data, slug } = entry;
const { name, cover, description } = data;
---

<section class="w-full flex flex-col items-center justify-center">
  <BiasImage
    name={name}
    width={cover.src.width}
    height={cover.src.height}
    src={cover.src.src}
    alt={`${cover.alt} imagen`}
    transition:name=`${slug}-image`
  />
  <article
    class="py-2 px-1 w-full h-40 rounded-b-lg mx-auto text-center bg-transparent"
  >
    <h3 class="text-lg mb-2">{}</h3>
    <p class="mb-4 line-clamp-3">
      {description}
    </p>

    <a
      href=`/essay/bias/${slug}`
      class="w-fit inset-x-0 bottom-0 mb-4 underline text-mr-text-content decoration-mr-primary-green underline-offset-4 transition-all hover:decoration-mr-primary-green/70"
    >
      Saber más
    </a>
  </article>
</section>
